
body {
    text-align: center;
    background-color: #E6E6FA;
}

h1 {
    font-size: 60px;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);

}
header {
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: 10px;
    line-height: 1;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;

}

